<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
       					   http://www.springframework.org/schema/util 
       					   http://www.springframework.org/schema/util/spring-util-4.3.xsd">
		
	<util:list id="gameList" value-type="com.bf.games.Game">
		<ref bean="LL" />
		<ref bean="MB" />
		<ref bean="PB" />
	</util:list>	
		
    <bean id="LL" class="com.bf.games.Game">
        <property name="name" value="LuckyForLife" />
        <property name="type" value="LUCKYFORLIFE"/>
        <property name="maxNums" value="48" />
        <property name="picks" value="5" />
        <property name="maxBonusNums" value="18" />
        <property name="bonusPicks" value="1" />
        <property name="description" value="Pick 5 numbers 1 to 48, Pick 1 bonus number 1 to 18"/>
    </bean>

    <bean id="MB" class="com.bf.games.Game">
        <property name="name" value="MegaBucks" />
        <property name="type" value="MEGABUCKS"/>
        <property name="maxNums" value="49" />
        <property name="picks" value="5" />
        <property name="description" value="Pick 5 numbers 1 to 49"/>
    </bean>
    
    <bean id="PB" class="com.bf.games.Game">
        <property name="name" value="PowerBall" />
        <property name="type" value="POWERBALL"/>
        <property name="maxNums" value="69" />
        <property name="picks" value="5" />
        <property name="maxBonusNums" value="26" />
        <property name="bonusPicks" value="1" />
        <property name="description" value="Pick 5 numbers 1 to 69, Pick 1 bonus number 1 to 26"/>
    </bean>
    
    <bean id="GameFactory" class="com.bf.games.GameFactory">
    	<constructor-arg ref="gameList"/>
    </bean>
    
</beans>
